main.donate {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

main.donate section {
   width: 100%;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
.link-mercadoPago{
   color: var(--global-primary-color);
   font-weight: bold;
}
@media screen and (min-width: 600px) {
   main.donate section {
      border: var(--global-border);
      width: 400px;
      border-radius: var(--global-radius);
      background-color: white;
   }
}
